.register-from{
    margin: 50px 25%  ;
    width: 50%;
    /* margin: auto; */
    border: 2px solid lightgray;
    padding: 20px;
    border-radius: 5px;

}
.register-from input:not([type=checkbox]){
    display: block;
    width: 75%;
    margin: auto;
    height: 30px;
    font-size: 15px;
    padding: 20px;
    border: 1px solid lightgray;
    margin-bottom: 10px;
    border-radius: 5px;
   
    
}
.from-title{
    text-align: center;
    margin-top: 20px;
}
.from-submit:hover{
    background-color: rgb(14, 80, 204);
    color: azure;
}
.from-submit{
    height: 60px !important;
}
